###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/platform-ci @hashgraph/release-engineering-managers

#########################
##### Source Files  #####
#########################
/pbj-core/                                      @hashgraph/pbj-committers @hashgraph/pbj-maintainers
/pbj-integration-tests/                         @hashgraph/pbj-committers @hashgraph/pbj-maintainers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
/.github/dependabot.yml                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/pbj-maintainers

# Gradle project files and inline plugins
/gradle/                                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers
gradlew                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers
gradlew.bat                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers
**/build-logic/                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers
**/gradle.*                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers
**/*.gradle.*                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/pbj-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/pbj-maintainers
**/LICENSE                                      @hashgraph/release-engineering-managers @hashgraph/pbj-maintainers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/pbj-maintainers
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/pbj-maintainers