name: "PR Checks"
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

defaults:
  run:
    shell: bash

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Code
    uses: ./.github/workflows/comp-compile-pbj-code.yaml
    secrets:
      access-token: ${{ secrets.GH_ACCESS_TOKEN }}

  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/comp-compile-pbj-code.yaml
    with:
      custom-job-label: Standard
      enable-unit-tests: true
      enable-sonar-analysis: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  integration-tests:
    name: Integration Tests
    uses: ./.github/workflows/comp-compile-pbj-code.yaml
    with:
      custom-job-label: Standard
      enable-integration-tests: true
      enable-sonar-analysis: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  snyk-scan:
    name: Snyk Scan
    uses: ./.github/workflows/comp-compile-pbj-code.yaml
    with:
      custom-job-label: Standard
      enable-integration-tests: false
      enable-sonar-analysis: false
      enable-snyk-scan: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      snyk-token: ${{ secrets.SNYK_TOKEN }}
