name: "PR Checks"
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  pull-requests: write
  statuses: write
  checks: write
  issues: read
  contents: read

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Code
    uses: ./.github/workflows/zxc-compile-pbj-code.yaml
    secrets:
      access-token: ${{ secrets.GH_ACCESS_TOKEN }}

  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/zxc-compile-pbj-code.yaml
    with:
      custom-job-label: Standard
      enable-unit-tests: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      codacy-project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

  integration-tests:
    name: Integration Tests
    uses: ./.github/workflows/zxc-compile-pbj-code.yaml
    with:
      custom-job-label: Standard
      enable-integration-tests: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      codacy-project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
