name: "ZXC: Compile"
on:
  workflow_call:
    inputs:
      enable-unit-tests:
        description: "Unit Testing Enabled"
        type: boolean
        required: false
        default: false
      enable-integration-tests:
        description: "Integration Testing Enabled"
        type: boolean
        required: false
        default: false
      enable-jmh-tests:
        description: "JMH Benchmark Testing Enabled"
        type: boolean
        required: false
        default: false
      java-distribution:
        description: "Java JDK Distribution:"
        type: string
        required: false
        default: "temurin"
      java-version:
        description: "Java JDK Version:"
        type: string
        required: false
        default: "21.0.6"
      gradle-version:
        description: "Gradle Version:"
        type: string
        required: false
        default: "wrapper"
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Compiles"

    secrets:
      gradle-cache-username:
        description: "The username used to authenticate with the Gradle Build Cache Node."
        required: true
      gradle-cache-password:
        description: "The password used to authenticate with the Gradle Build Cache Node."
        required: true
      codacy-project-token:
        description: "The Codacy project level access token used by the Codacy agent to report an analysis."
        required: false

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  pull-requests: write
  statuses: write
  checks: write
  issues: read
  contents: read

env:
  LC_ALL: C.UTF-8
  PBJ_CORE: pbj-core
  PBJ_INTEGRATION_TESTS: pbj-integration-tests
  GRADLE_CACHE_USERNAME: ${{ secrets.gradle-cache-username }}
  GRADLE_CACHE_PASSWORD: ${{ secrets.gradle-cache-password }}

jobs:
  compile:
    name: ${{ inputs.custom-job-label || 'Compiles' }}
    runs-on: network-node-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-version: ${{ inputs.gradle-version }}
          gradle-home-cache-strict-match: false

      - name: Gradle Assemble (PBJ Core)
        id: gradle-build
        working-directory: ${{ env.PBJ_CORE }}
        run: ./gradlew assemble

      - name: Gradle Check (PBJ Core)
        if: ${{ inputs.enable-unit-tests && steps.gradle-build.conclusion == 'success' && !cancelled() }}
        working-directory: ${{ env.PBJ_CORE }}
        run: ./gradlew check

      - name: Publish JUnit Test Report (PBJ Core)
        uses: step-security/publish-unit-test-result-action@c8537a200a435e2560109a6a8ed9cac838b62656 # v2.20.5
        if: ${{ inputs.enable-unit-tests && steps.gradle-build.conclusion == 'success' && !cancelled() && always() }}
        with:
          check_name: JUnit Test Report
          time_unit: seconds
          junit_files: "${{ env.PBJ_CORE }}/**/build/test-results/**/*.xml"

#      - name: Codacy Coverage Reports
#        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
#        if: ${{ inputs.enable-unit-tests && steps.gradle-build.conclusion == 'success' && !cancelled() }}
#        with:
#          project-token: ${{ secrets.codacy-project-token }}
#          coverage-reports: ${{ env.PBJ_CORE }}/pbj-compiler/build/reports/jacoco/test/jacocoTestReport.xml, ${{ env.PBJ_CORE }}/pbj-runtime/build/reports/jacoco/test/jacocoTestReport.xml

      - name: Gradle Assemble (PBJ Integration)
        id: gradle-integration-build
        if: ${{ (inputs.enable-integration-tests || inputs.enable-jmh-tests) && !cancelled() }}
        working-directory: ${{ env.PBJ_INTEGRATION_TESTS }}
        run: ./gradlew assemble

      - name: Gradle Check (PBJ Integration)
        if: ${{ inputs.enable-integration-tests && steps.gradle-integration-build.conclusion == 'success' && !cancelled() }}
        working-directory: ${{ env.PBJ_INTEGRATION_TESTS }}
        run: ./gradlew check

      - name: Publish Integration Test Report (PBJ Integration)
        uses: step-security/publish-unit-test-result-action@c8537a200a435e2560109a6a8ed9cac838b62656 # v2.3.0
        if: ${{ inputs.enable-integration-tests && steps.gradle-integration-build.conclusion == 'success' && !cancelled() && always() }}
        with:
          check_name: Integration Test Report
          time_unit: seconds
          junit_files: "${{ env.PBJ_INTEGRATION_TESTS }}/**/build/test-results/**/*.xml"

      - name: Gradle JMH Benchmarks (PBJ Integration)
        if: ${{ inputs.enable-jmh-tests && steps.gradle-integration-build.conclusion == 'success' && !cancelled() && always() }}
        working-directory: ${{ env.PBJ_INTEGRATION_TESTS }}
        run: ./gradlew jmh
